<form>
	<div class="form-group">
		<label class="invisible" for="readBodyTemplateName">Body Template Name</label>
		<p class="form-control-plaintext" id="readBodyTemplateName"></p>
	</div>
	<div class="form-group">
		<label class="invisible" for="readBodyTemplateSidebarColor">Sidebar Color</label>
		<p class="form-control-plaintext" id="readBodyTemplateSidebarColor"></p>
	</div>
	<div class="form-group">
		<label class="invisible" for="readBodyTemplateLanguage">Language</label>
		<p class="form-control-plaintext" id="readBodyTemplateLanguage"></p>
	</div>
	<div class="form-group">
		<label class="invisible" for="readBodyTemplateLevel">Level</label>
		<p class="form-control-plaintext" id="readBodyTemplateLevel"></p>
	</div>
	<div class="form-group">
		<label class="invisible" for="readBodyTemplateLevelIcon">Level Icon</label>
		<p class="form-control-plaintext" id="readBodyTemplateLevelIcon"></p>
	</div>
	<div class="form-group">
		<label class="invisible" for="readBodyTemplateLanguageIcon">Language Icon</label>
		<p class="form-control-plaintext" id="readBodyTemplateLanguageIcon"></p>
	</div>
	<div class="form-group">
		<label class="invisible" for="readBodyTemplateLanguageDesc">Language Description</label>
		<p class="form-control-plaintext" id="readBodyTemplateLanguageDesc"></p>
	</div>
	<div class="form-group">
		<label class="invisible" for="readBodyTemplateLanguageBlurb">Language Blurb</label>
		<p class="form-control-plaintext textarea" id="readBodyTemplateLanguageBlurb"></p>
	</div>
	<div class="form-group">
		<label class="invisible" for="readBodyTemplateHelpLink">Help Link</label>
		<p class="form-control-plaintext textarea" id="readBodyTemplateHelpLink"></p>
	</div>
	<div class="form-group">
		<label class="invisible" for="readBodyTemplateMoreQuestion">More Questions</label>
		<p class="form-control-plaintext textarea" id="readBodyTemplateMoreQuestion"></p>
	</div>
	<div class="form-group">
		<label class="invisible" for="readBodyTemplateMaintainer">Maintainer</label>
		<p class="form-control-plaintext textarea" id="readBodyTemplateMaintainer"></p>
	</div>
	<div class="form-group">
		<label class="text-danger" for="readBodyTemplatePath">File Path</label>
		<p class="form-control-plaintext" id="readBodyTemplatePath"></p>
	</div>
</form>
