<form>
	<div class="form-group">
		<label class="invisible" for="readResourceNumber">Resource Number</label>
		<p class="form-control-plaintext" id="readResourceNumber"></p>
	</div>
	<div class="form-group">
		<label class="invisible" for="readResourceLanguage">Language</label>
		<p class="form-control-plaintext" id="readResourceLanguage"></p>
	</div>
	<div class="form-group">
		<label class="invisible" for="readResourceLevel">Level</label>
		<p class="form-control-plaintext" id="readResourceLevel"></p>
	</div>
	<div class="form-group">
		<label class="invisible" for="readResourceMediaCost">Media Cost</label>
		<p class="form-control-plaintext" id="readResourceMediaCost"></p>
	</div>
	<div class="form-group">
		<label class="invisible" for="readResourceMediaCostDesc">Media Cost Desc</label>
		<p class="form-control-plaintext" id="readResourceMediaCostDesc"></p>
	</div>
	<div class="form-group">
		<label class="invisible" for="readResourceMediaType">Media Type</label>
		<p class="form-control-plaintext" id="readResourceMediaType"></p>
	</div>
	<div class="form-group">
		<label class="invisible" for="readResourceMediaIcon">Media Icon</label>
		<p class="form-control-plaintext" id="readResourceMediaIcon"></p>
	</div>
	<div class="form-group">
		<label class="invisible" for="readResourceMediaLink">Media Link</label>
		<p class="form-control-plaintext" id="readResourceMediaLink"></p>
	</div>
	<div class="form-group">
		<label class="invisible" for="readResourceMediaDesc">Description</label>
		<p class="form-control-plaintext" id="readResourceMediaDesc"></p>
	</div>
	<div class="form-group">
		<label class="invisible" for="readResourceCommunityRating">Community Rating</label>
		<p class="form-control-plaintext" id="readResourceCommunityRating"></p>
	</div>
	<div class="form-group">
		<label class="invisible" for="readResourceName">File Name</label>
		<p class="form-control-plaintext" id="readResourceName"></p>
	</div>
	<div class="form-group">
		<label class="text-danger" for="readResourcePath">File Path</label>
		<p class="form-control-plaintext" id="readResourcePath"></p>
	</div>
</form>
