<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
</head>
<body>
	<h1>Here is a list of resources</h1>
	<ul>
		<% resources.forEach(function(resource) { %>
		<li><a href="/resources/<%= resource.name %>"><%= resource.name %></a></li>
		<% }); %>
	</ul>

	<form action="/resource/new/" method="POST">
		<div class="form-group">
			<label for="resourceName">New resource</label>
			<input type="text" class="form-control" id="resourceName" name="resource['name']" />
		</div>
		<button type="submit" class="btn btn-primary">Create New</button>
	</form>

</body>
</html>
