<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.0/darkly/bootstrap.min.css" rel="stylesheet" integrity="sha384-J01jr7rrJqxij+hUE1E+8N35mlD7L/TMrAO7tOarwMP7AWJM3P/lGXOjt0KLNhtE" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<h1 class="text-center">Info about this resource</h1>
		</div>
		<div class="row">
			<div class="col-sm">
				<%- include partials/edit_form %>
			</div>
			<div class="col-sm">
				<p>this is the result</p>
			</div>
		</div>
	</div>


	<div class="w-50 form">
		<p>this is the form</p>
	</div>
	<div class="w-50 result">
		<p>this is the result</p>
	</div>


	<p><a href="/resources/">Back</a></p>

	<script type="text/javascript">
		/* jshint esversion: 6 */
		const emoji_map = {
			":heavy_plus:": "\u2795",
			":cinema:": "\uD83C\uDFA6",
			":books:": "\uD83D\uDCDA",
			":link:": "\uD83D\uDD17",
			":school_satchel:": "\uD83C\uDF92",
			":star:": "\u2B50",
			":white_check_mark:": "\u2705",
			":question:": "\u2753",
		};
		const capitalize = Array.from(document.querySelectorAll('.capitalize'));
		capitalize.forEach(word => {
			word.innerText = word.innerText.charAt(0).toUpperCase() + word.innerText.slice(1);
		});
		const emojis = Array.from(document.querySelectorAll('.emoji'));
		emojis.forEach(emoji => {
			emoji.innerText = emoji_map[emoji.innerText];
		});
		const links = Array.from(document.querySelectorAll('.link'));
		links.forEach(link => {
			link.innerHTML = link.innerText.replace(/<([^|]*?)\|(.*?)>/g, "<a href=\"$1\">$2</a>");
		});
		const descriptions = Array.from(document.querySelectorAll('.description'));
		descriptions.forEach(description => {
			description.innerHTML = description.innerText.replace(/\*(.*?)\*/g, "<b>$1</b>")
															.replace(/\_(.*?)\_/g, "<em>$1</em>");
		});
	</script>

</body>
</html>
