<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.0/lumen/bootstrap.min.css" rel="stylesheet" integrity="sha384-3peic20OBS+kS9351sQOOO1LJYgA7iQkz8mjQQIGqCWy+rkEEOGIIIgQrVqL88+X" crossorigin="anonymous">

</head>
<body>
	<div class="container">
		<div class="jumbotron text-center">
			<h1>Which templates would you like to view?</h1>
			<a href="/templates/resources/" class="btn btn-primary btn-lg">Resources</a>
			<a href="/templates/bodies/" class="btn btn-primary btn-lg">Message Bodies</a>
		</div>

	</div>
</body>
</html>
